.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
  margin: 10px 20px;
  max-width: 250px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  .play {
    display: none;
  }
  .preview {
    border-radius: 5px;
    img {
      object-position: center;
      max-width: 200px;
      height: auto;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    h3 {
      margin: 0 0 10px 0;
      text-decoration: none;
      color: #111111;
    }
    p {
      font-size: 14px;
      color: #010101;
      margin: 0;

    }
  }
  &:hover {
    position: relative;
    .play {
      display: flex;
      position: absolute;
      background-color: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      bottom: 70px;
      right: 10px;
      svg {
        width: 20px;
        color: #eaeaea;
        transform: translateX(12px);
      }
    }
  }
}